html,
body {
    height: 100%;
    background-color: rgb(47, 49, 54);
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 34, 37);
    border-color: rgb(255, 255, 255);
    border-bottom: 2px solid;
}

h1 {
    align-self: center;
    padding: 15px;
    font-size: 2.5rem;
    font-weight: bold;
}

#food-buttons,
#gif-content,
#gif-favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px;
}

#food-buttons {
    justify-content: center;
}

#gif-favorites {
    position: relative;
    justify-content: space-evenly;
    background-color: rgb(32, 34, 37);
    border-color: rgb(255, 255, 255);
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#clear-favorites {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
}

#add-button {
    color: rgba(255, 255, 255, 0.5);
    vertical-align: middle;
}

#add-button:hover,
#clear-favorites:hover {
    color: rgb(173, 255, 47);
    transition: ease 200ms;
}

#add-button:active,
#clear-favorites:active {
    color: rgba(255, 255, 255, 1);
    transition: ease 200ms;
}

#add-form {
    position: absolute;
    right: 20px;
    top: 10px;
}

#add-input {
    font-size: 1.3rem;
    margin: 10px 0;
    vertical-align: middle;
    width: 150px;
    padding-inline-start: 10px;
}

.food-button {
    padding: 10px 20px;
    margin: 5px;
    text-transform: capitalize;
    font-weight: bold;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(47, 49, 54);
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.food-button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(47, 49, 54);
    transition: ease 200ms;
}

.gif {
    margin: 5px;
}

.heart {
    color: red;
    border-radius: 10px;
    padding: 10px;
    visibility: hidden;
}

img {
    border: 1px solid rgb(255, 255, 255);
}

@media screen and (max-width: 650px) {
    h1 {
        align-self: flex-start;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        align-self: center;
        padding: 10px 0;
    }

    #add-form {
        position: relative;
        align-self: center;
        padding-bottom: 10px;
        right: inherit;
        top: inherit;
    }
}